@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'TitilliumRegular';
    src: url('/fonts/text-fonts/TitilliumWeb-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'TitilliumSemiBold';
    src: url('/fonts/text-fonts/TitilliumWeb-SemiBold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'TitilliumBold';
    src: url('/fonts/text-fonts/TitilliumWeb-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProzaRegular';
    src: url('/fonts/text-fonts/ProzaLibre-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProzaBold';
    src: url('/fonts/text-fonts/ProzaLibre-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
  }
}